.button {
    background-color: greenyellow;
    height: 30px;
    width: 80px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 1.25s ease;
  }
  .button:hover{
    background-color: crimson;
    color: white;
  }


  .Form-group{
    background-color: transparent;
    text-align:  center;
  }
  .Form-control{
      background-color: lightblue;
      color:  black;
      text-align: center;
      border-radius: 5px;
      border: none;
      height: 20px;
      width: 200px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;  /* Preferred icon size */
  display: inline-block;
  line-height: 2;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  color: chartreuse;
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


