<form #f="ngForm">
  <div class="Form-group" >
    
    <br><i class='material-icons'>explore</i><br>
    <label for="cep">CEP:</label><br>
    <input type="text" class="Form-control" id="cep" name="cep" placeholder="ex:01001000" ngModel #cep="ngModel">
    <br><br>
    <p><button class="button button1" (click)="consultaCep(cep.value , f)">Procurar</button></p>

    <label for="logradouro">LOGRADOURO</label><br>
    <input type="text" class="Form-control" id="logradouro" name="logradouro" ngModel #logradouro="ngModel" placeholder="..." disabled>

    <br><br>
    <label for="bairro">BAIRRO</label><br>
    <input type="text" class="Form-control" id="bairro" name="bairro" ngModel #bairro="ngModel" placeholder="..." disabled>

    <br><br>
    <label for="cidade">CIDADE</label><br>
    <input type="text" class="Form-control" id="cidade" name="cidade" ngModel #cidade="ngModel" placeholder="..." disabled>

    <br><br>
    <label for="uf">UF</label><br>
    <input type="text" class="Form-control" id="uf" name="uf" ngModel #uf="ngModel" placeholder="..." disabled>


    <br><br>
    <br><br>
  </div>

</form>


